@charset "utf-8";

body {
	width: 100%;
	overflow: auto;
	margin: auto auto auto auto;
	-webkit-text-size-adjust: 100%;
	background-color: #EEE;
}

.panel1 {
	width: 60%;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

@media screen and (min-width: 1000px) {
	.text1 {
		font-size: 34px;
	}
}

@media screen and (max-width: 999px) {
	.text1 {
		font-size: 40px;
	}
}